* {
    margin: 0;
    padding: 0;
  }

  .cell{
    width: 75px;
    height: 75px;
    border: 2px solid;
    box-shadow: 0 0 0 2px;
    line-height: 75px;
    font-size: 50px;
    cursor: pointer;
}
#gameContainer{
    text-align: center;
}
#cellContainer{
    display: grid;
    grid-template-columns: repeat(3, auto);
    width: 225px;
    margin: auto;
}
  
body {
    background-color: #0be0e4;
    text-align: center;
  }
  

  .box {
    height: 18px;
    width: 18px;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
    font-size: 8px;
    color: #b0413e;
    background-color: #ffffc7;
  }
  
  #reset {
    padding: 25rem;
    font-size: 1.25rem;
    background-color: #2e304e;
    color: #4a0505;
    border-radius: 2rem;
    border: none;
    margin-top: 100%;
    margin-block-start: 20px;
  }
  
  #new-btn {
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #191913;
    color: #fff;
    border-radius: 1rem;
    border: none;
  }
  
  #msg {
    color: #ffffc7;
    font-size: 5vmin;
  }
  
  .msg-container {
    height: 100vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4rem;
  }
  
  .hide {
    display: none;
  }